{% load static %}
<html>
<head>
	<title>The BLOG</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'
	>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
	<div class="page-header">
		<h1><a href="/">The Blog</a></h1>
		<a>If there are no blog contents is because the production database in the server is still empty</a><br/>

		<a>If you are a.a.g. dont worry about the page not being here anymore. It was a prove of concept.</a> <br/> </a>It will be up again soon</a>
	</div>
	<div class="content container">
		<div class="row">
			<div class="col-md-8">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>
