{% load static %}
<html>
<head>
	<title>NLP4IP</title>
	
	<meta charset="utf-8">
	<!-- For being responsive -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<!-- CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  

  <!-- jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <!-- Load Own CSS -->
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">

  <!-- Fonts -->
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

</head>
<body>
	<div class="container-fluid">
		<div>
			<h1><a> NLP Base camp for IP </a></h1>
		</div>
		<p>This page is a prove of concept.</p>
		<hr/> 
		<div class="form-group">
			<label for="exampleFormControlTextarea1">Introduce description</label>
			<textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"></textarea>
		</div>

		<div class="form-group">
			<label for="exampleFormControlTextarea2">Introduce claims</label>
			<textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Sent to backend</button>
		<br/>
		<hr/>
		<!-- LANGUAGE BUTTONS -->
		<br/>
		<div class="btn-group" role="group" aria-label="Basic example">
			<button type="button" class="btn btn-secondary">English</button>
			<button type="button" class="btn btn-secondary">German</button>
			<button type="button" class="btn btn-secondary">French</button>
			<button type="button" class="btn btn-secondary">Spanish</button>
			<button type="button" class="btn btn-secondary">Dutch</button>
		</div>
		<br/>
		<hr/>
		<!-- PROCESS BUTTONS -->
		<br/>
		<div class="btn-group" role="group" aria-label="Basic example">
			<button type="button" class="btn btn-secondary">EPO</button>
			<button type="button" class="btn btn-secondary">PCT</button>
			<button type="button" class="btn btn-secondary">NA</button>
		</div>
		<hr/>
		<div>
		<button type="submit" class="btn btn-primary" background-color="red"; >Generate features table</button>
		
		<button type="submit" class="btn btn-primary">Generate Reverse Concept Search</button>
		
		<button type="submit" class="btn btn-primary">Run Tf-idf in CLASS</button>
		<hr/>
		</div>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Claim nr</th>
						<th scope="col">ftnr</th>
						<th scope="col">Claim Txt</th>
						<th scope="col">Join</th>
						<th scope="col">Art. 54&56</th>
						<th scope="col">Art. 123</th>
						<th scope="col">D1</th>
						<th scope="col">D2</th>
						<th scope="col">D3</th>
						<th scope="col">D4</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>1</td>
						<td>A car including wheels and painted white.</td>
						<td>
							<button type="submit" class="btn btn-primary">join</button>
						</td>
						<td>not new?</td>
						<td>Added subject matter?</td>
						<td>refs. in doc 1</td>
						<td>refs. in doc 2</td>
						<td>refs. in doc 3</td>
						<td>refs. in doc 4</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>1</td>
						<td>A car according to claim 1 including lights.</td>
						<td>
							<button type="submit" class="btn btn-primary">join</button>
						</td>
						<td>not new?</td>
						<td>Added subject matter?</td>
						<td>refs. in doc 1</td>
						<td>refs. in doc 2</td>
						<td>refs. in doc 3</td>
						<td>refs. in doc 4</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>1</td>
						<td>A car according to claim 1 or 2 including seats.</td>
						<td>
							<button type="submit" class="btn btn-primary">join</button>
						</td>
						<td>not new?</td>
						<td>Added subject matter?</td>
						<td>refs. in doc 1</td>
						<td>refs. in doc 2</td>
						<td>refs. in doc 3</td>
						<td>refs. in doc 4</td>
					</tr>
				</tbody>
			</table>
		</div>
	<hr/>
	<button type="submit" class="btn btn-primary">GENERATE Report on Patentability</button>
	<br/>
	<hr/>
	<button type="button" class="btn btn-primary">Download report in XML version</button>

	<br/>

	<!-- check boxes of non compliances -->
	<br/>
	<!-- Default unchecked -->
	<a>CLAIMS</a>
	<div class="custom-control custom-radio">
		<input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked>
		<label class="custom-control-label" for="defaultChecked">Two part form</label>
	</div>
	<div class="custom-control custom-radio">
		<input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked>
		<label class="custom-control-label" for="defaultChecked">False dependency</label>
	</div>
	<div class="custom-control custom-radio">
		<input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked>
		<label class="custom-control-label" for="defaultChecked">Lacking antecedence</label>
	</div>

	<br/>
	<a>DESCRIPTION</a>
	<div class="custom-control custom-radio">
		<input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
		<label class="custom-control-label" for="defaultUnchecked">Spirit of the invention</label>
	</div>

	<!-- Default checked -->
	<div class="custom-control custom-radio">
		<input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked>
		<label class="custom-control-label" for="defaultChecked">Incorporated by reference</label>
	</div>


	<!--
	</div>
	<div class="page-header">
		<h1><a href="/">Blog</a></h1>


		<div>
			<a> This is what appears when reffering to posts coming from Django models:</a>
			{{ posts }}
		</div>
		<br/>
		<a>If it does not appear anything is because the content of the local database is not yet in the server</a>
		<div class="post">
			{% for post in posts %}

			<p>published: {{ post.published_date }}</p>
			<h2><a href="">{{ post.title }}</a></h2>
			<p>{{ post.text|linebreaksbr }}</p>
			{% endfor %}
		</div>
	</div>

	<div class="content container">
		<div class="row">
			<div class="col-md-8">
				{% for post in posts %}
				<div class="post">
					<div class="date">
						<p>published: {{ post.published_date }}</p>
					</div>
					<h2><a href="">{{ post.title }}</a></h2>
					<p>{{ post.text|linebreaksbr }}</p>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
-->
</body>
</html>